<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/form.css' />
</head>

<body>
    <h2> Add plant </h2>
    <div class="container">
        <form action="/add-plant" id="add_plant" method="POST" enctype="multipart/form-data">
            <label for="date_time_seen">Date/Time Seen:</label>
            <input type="datetime-local" id="date_time_seen" name="date_time_seen" required>
            <br> <br>
            <label for="description">Description:</label>

            <textarea name="description" rows="5" cols="20"></textarea>

            <label for="location"><b>Geolocation:</b></label>
            <label for="longitude">Longitude:</label>
            <input type="number" step="0.01" id="longitude" name="longitude" required>
            <label for="latitude">Latitude:</label>
            <input type="number" step="0.01" id="latitude" name="latitude" required>

            <label for="plant_size"><b>Plant Size:</b></label>
            <label for="plant_height">Height (cm):</label>
            <input type="number" step="0.01" id="plant_height" name="plant_height" required>

            <label for="plant_spread">Spread (cm):</label>
            <input type="number" step="0.01" id="plant_spread" name="plant_spread" required>


            <label for="plant_characteristics"><b>Plant Characteristics:</b></label>
            <div>
                <label class="checkbox-label" for="flowers">Flowers:
                    <input type="checkbox" id="flowers" name="flowers" value="Flowers"></label>
                <label class="checkbox-label" for="leaves">Leaves:
                    <input type="checkbox" id="leaves" name="leaves" value="Leaves"></label>
                <label class="checkbox-label" for="fruits">Fruits:
                    <input type="checkbox" id="fruits" name="fruits" value="Fruits"></label>
                <label class="checkbox-label" for="thorns">Thorns:
                    <input type="checkbox" id="thorns" name="thorns" value="Thorns"></label>
                <label class="checkbox-label" for="seeds">Seeds:
                    <input type="checkbox" id="seeds" name="seeds" value="Seeds"></label>
            </div>

            <br>
            <label for="sun_exposure">Sun Exposure:</label>
            <select id="sun_exposure" name="sun_exposure">
                <option value="full_sun">Full Sun</option>
                <option value="partial_shade">Partial Shade</option>
                <option value="full_shade">Full Shade</option>
            </select>
            <br><br>
            <label for="identification_name">Identification Name:</label>
            <input type="text" id="identification_name" name="identification_name" value="Unknown">
            <br><br>
            <label for="upload_photo">Upload Photo:</label>
            <input type="file" id="upload_photo" name="upload_photo" accept="image/*" required>
            <br><br>
            <!-- <label for="user_nickname">User Nickname:</label>
            <input type="text" id="user_nickname" name="user_nickname" required> -->
            <br><br>
            <div style="text-align: center;">
                <input type="submit" value="Submit">
                <input type="reset" value="Reset">
            </div>
        </form>
    </div>
</body>

</html>
