<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body onload="checkCredentials(<%= correct_submission %>)">
<h2> Add plant </h2>
<form action="/add_plant" method="POST">
    <label for="date_time_seen">Date/Time Seen:</label>
    <input type="datetime-local" id="date_time_seen" name="date_time_seen" required>
    <br> <br>
    <label for="location">Location:</label>
    <input type="text" id="location" name="location" required>
    <br><br>

    <label for="description">Description:</label>
    <textarea name="description" rows="5" cols="20">
    Short Description
  </textarea>
    <br><br>

    <label for="plant_size">Plant Size:</label>
    <br><br>
    <label for="plant_height">Height in cm:</label>
    <input type="number" id="plant_height" name="plant_height" required>
    <br><br>
    <label for="plant_spread">Spread in cm:</label>
    <input type="number" id="plant_spread" name="plant_spread" required>
    <br><br>

    <label for="plant_characteristics">Plant Characteristics:</label>
    <br><br>
    <label for="flowers">Flowers</label>
    <input type="checkbox" id="flowers" name="flowers" value="Flowers" required>
    <br><br>
    <label for="leaves">Leaves</label>
    <input type="checkbox" id="leaves" name="leaves" value="Leaves" required>
    <br><br>
    <label for="thorns">Thorns</label>
    <input type="checkbox" id="thorns" name="thorns" value="Thorns" required>
    <br><br>

    <label for="sun_exposure">Sun Exposure:</label>
    <select id="sun_exposure" name="sun_exposure">
        <option value="full_sun">Full Sun</option>
        <option value="partial_shade">Partial Shade</option>
        <option value="full_shade">Full Shade</option>
    </select>
    <br><br>

    <label for="flowers_colour">Flowers Colour:</label>
    <input type="color" id="flowers_colour" name="flowers_colour" required>
    <br><br>

    <label for="identification_name">Identification Name:</label>
    <input type="text" id="identification_name" name="identification_name" required>
    <br><br>
    <label for="upload_photo">Upload Photo:</label>
    <input type="file" id="upload_photo" name="upload_photo" required>
    <br><br>
    <label for="user_nickname">User Nickname:</label>
    <input type="text" id="user_nickname" name="user_nickname" required>
    <br><br>
    <input type="submit" value="Submit">
    <input type="reset" value="Reset">
</form>
</body>
<script>
    function checkCredentials(isSubmissionValid) {
        if (!isSubmissionValid){alert('Invalid Submission! Please check your submission.')}
    }
</script>
</html>
