<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plant Sightings</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <main>
    <section id="plant-sightings" class="container">
      <h1>Plant Sightings</h1>

      <div class="how-it-works">
        <div class="content">
          <h2>How It Works</h2>
          <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Eligendi itaque soluta, culpa corporis vitae ullam voluptatum velit qui
            voluptates sequi possimus nostrum ratione at nam, ad voluptatibus magnam quo sed.</p>
        </div>
        <div class="image">
          <img src="/images/plant-image.jpg" alt="Plant Image">
        </div>
      </div>

      <!-- Sorting buttons -->
      <div class="sorting-buttons">
        <h3>Sort By: </h3>
        <button id="sort-date-asc">Date/Time Ascending</button>
        <button id="sort-date-desc">Date/Time Descending</button>
        <button id="sort-distance">Distance (closest to furthest)</button>

        <div class="filter-dropdown">
          <label for="plant-features">Filter: </label>
          <select id="plant-features" name="plant_features">
            <option value="with_flower">Select...</option>
            <option value="with_flower">With Flower</option>
            <option value="without_flower">Without Flower</option>
            <option value="with_leaves">With Leaves</option>
            <option value="without_leaves">Without Leaves</option>
            <option value="with_seeds_fruits">With Seeds/Fruits</option>
            <option value="without_seeds_fruits">Without Seeds/Fruits</option>
            <option value="full_sun">Full Sun</option>
            <option value="partial_shade">Partial Shade</option>
            <option value="full_shade">Full Shade</option>
          </select>
        </div>
      </div>

      <!-- Container for plant sighting cards  -->
      <div class="plant-cards-container" id="plant-cards-container">
        <!-- Placeholder content -->
      </div>

      <button id="add-plant-button" onclick="location.href='/add-plant'">+</button>
    </section>
  </main>

  <script src="javascripts/username.js"></script>
  <script src="javascripts/index.js"></script>

</body>

</html>
