<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Details</title>
    <link rel="stylesheet" href="/stylesheets/form.css">
</head>

<body>
    <h2> Update Plant </h2>
    <div class="container">
        <form action="/update-plant" method="POST">

            <label for="plant_name">Identification name:</label>
            <input type="text" id="plant_name" name="plant_name" required>
            <br>


            <label for="plant_status">Identification Status:</label>
            <select id="plant_status" name="plant_status">
                <option value="in_progress">In-Progress</option>
                <option value="Completed">Completed</option>
            </select>
            <br>

            // hide
            <label for="plant_id"> Plant ID: </label>
            <input type="text" id="plant_id" name="plant_id" value="<%= plantID %>">
            <br>

            <div style="text-align: center;">
                <input type="submit" value="Submit">
                <input type="reset" value="Reset">
            </div>
        </form>
    </div>
</body>

</html>
