<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set Username</title>
    <link rel="stylesheet" href="/stylesheets/form.css">
</head>

<body>
    <h2>Enter your chosen username</h2>
    <form action="/username" method="POST">
        <label for="plant_name">Username: </label>
        <input type="text" id="plant_name" name="plant_name" required>
        <input type="submit" value="Submit">
    </form>
    <script src="javascripts/username.js"></script>
</body>

</html>
